<h1>Listing ug_items</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Url</th>
    <th>Location</th>
  </tr>

<% @ug_items.each do |ug_item| %>
  <tr>
    <td><%=h ug_item.name %></td>
    <td><%=h ug_item.description %></td>
    <td><%=h ug_item.price %></td>
    <td><%=h ug_item.url %></td>
    <td><%=h ug_item.location %></td>
    <td><%= link_to 'Show', ug_item %></td>
    <td><%= link_to 'Edit', edit_ug_item_path(ug_item) %></td>
    <td><%= link_to 'Destroy', ug_item, :confirm => 'Are you sure?', :method => :delete %></td>

    <% form_for(ug_item) do |f| %>
      <%= f.hidden_field :import, :value => 1 %>
      <%= f.submit 'Import' %>
    <% end %>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'New ug_item', new_ug_item_path %>
