<h2>Found a great deal you want to share? Tell us all about it below.</h2>

<% semantic_form_for(@ug_item) do |f| %>
  <%= f.error_messages %>

    <% f.inputs :name => "Share a great deal", :id => "deal" do %>

      <%= f.input :name, :label => "Model", :hint => "Tell us as much as you can. We'll do the rest." %>
      <%= f.input :price, :hint => "The total price paid" %>
      <%= f.input :description, :label => "Additional Info:", :hint => "Are there any conditions? E.g. compulsory warranty?" %>
      <%= f.input :url, :label => "Webpage URL", :hint => "Is it online? Tell us the URL if so." %>
      <%= f.input :location, :hint => "Store Name and Address. We'll work out the rest" %>

    <% end %>

    <% f.buttons do %>
      <%= f.commit_button %>
    <% end %>

<% end %>
