<p>
  <b>Name:</b>
  <%=h @ug_item.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @ug_item.description %>
</p>

<p>
  <b>Price:</b>
  <%=h @ug_item.price %>
</p>

<p>
  <b>Url:</b>
  <%=h @ug_item.url %>
</p>

<p>
  <b>Location:</b>
  <%=h @ug_item.location %>
</p>


<%= link_to 'Edit', edit_ug_item_path(@ug_item) %> |
<%= link_to 'Back', ug_items_path %>