= search_form_for @q do |f|
  -if @item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@item.errors.count, "error")} prohibited this item from being saved:"
      %ul
        - @item.errors.full_messages.each do |msg|
          %li= msg

  %fieldset.left
    .field
      = f.label :name
      = f.text_field :name_cont
    .field
      = f.label :price
      = f.text_field :price
  %fieldset.right
    .field
      = f.label :description
      = f.text_area :description
    .actions
      = f.submit 'Post your sale'
