<div class="hreview <%= cycle("even", "odd") %>">
  <div class="item">
    <div class="fnsummary">
      <h3>
        <%= link_to_tracked(item.name, item.url, options = {}, html_options = {:class => "url", :href => item.url}) %>
      </h3>
    </div>
  </div>
  <div class="description">
    <p><%=h item.description %></p>
    <ul>
      <li class="price">
        <%= 
    #number_to_currency(item.price, :unit => "$", :separator => ".", :delimiter => "", :format => "%u%n") 
      %> 
        <%= item.price %> 
      </li>
    </ul>
  </div>
</div>
<br style="clear: both; line-height: 0px;" />
