<div class="item hproduct <%= cycle("even", "odd") %>">
  <div class="name">
    <div class="fn">
      <h3>
        <%= link_to(item.name, item, options = {}, html_options = {:class => "url", :rel => "product"}) %>
      </h3>
    </div>
  </div>
  <div class="description">
    <p><!-- <%=h item.description %> --></p>
    <ul>
      <li class="price">
        <%= 
    #number_to_currency(item.price, :unit => "$", :separator => ".", :delimiter => "", :format => "%u%n") 
      %> 
        <%= item.price %> 
      </li>
      <li class="shop">
        <!-- <%= item.shop_name %> --> (<%= item.shop_suburb %>, <%= item.shop_city %>) 
      </li>
    </ul>
  </div>
</div>
<br style="clear: both; line-height: 0px;" />
