#items_home
  %h2
    Follow us on twitter to 
    %a{ :href => 'http://twitter.com/twifibuys'}get the best hifi deals

  = form_for(@search) do |f|                                                                                                                       
    = f.text_field :name_contains
    = f.submit 'Search'

  %h2 Search for products
  .tags
    - tag_cloud(@types, %w(css1 css2 css3 css4)) do |tag, css_class|
      = link_to tag.name.pluralize, items_path(:search => { :name_contains => tag.name }), :class => css_class

  %h2 Search for hifi from
  .tags
    - tag_cloud(@manufacturers, %w(css1 css2 css3 css4)) do |tag, css_class|
      = link_to tag.name.pluralize, items_path(:search => { :name_contains => tag.name }), :class => css_class
