<h1>Listing items</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Url</th>
    <th>Shop name</th>
    <th>Shop address</th>
    <th>Shop suburb</th>
    <th>Shop state</th>
    <th>Shop country</th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%=h item.name %></td>
    <td><%=h item.description %></td>
    <td><%=h item.price %></td>
    <td><%=h item.url %></td>
    <td><%=h item.shop_name %></td>
    <td><%=h item.shop_address %></td>
    <td><%=h item.shop_suburb %></td>
    <td><%=h item.shop_state %></td>
    <td><%=h item.shop_country %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<div class="hlisting">
  <%= will_paginate @items %>
</div>

<br />

<%= link_to 'New item', new_item_path %>
