<h1>Listing items incorrectly extracted</h1>

<p>In this case, a missing manufacturer_id</p>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%=h item.name %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<div class="hlisting">
  <%= will_paginate @items %>
</div>

<br />

<%= link_to 'New item', new_item_path %>
