<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>HifiBuys</title>
  <%= stylesheet_link_tag 'default' %>
</head>
<body>

<div id="header">
  <a href="/"><h1 style="float:left"><span style="color: #ff4fac">Hifi</span><span style="color: #4fa8ff">Buys</span></h1></a>
  <h1>&nbsp;:&nbsp;Discover Compare Share</h1>

  <% if params[:action] != "index" %>
    <% form_tag search_items_path, :method => :get, :style => "float:right" do %>
      <p><%= text_field_tag :term, params['term'] %>
      <%= submit_tag 'Search' %></p>
    <% end %>
  <% end %>
</div>

<p style="color: green"><%= flash[:notice] %></p>

<div id="content">
<%= yield %>
</div>

<div id="footer">
  <h4>Follow us on twitter to <a href="http://twitter.com/twifibuys">get the best hifi deals</a>. &copy; 2009 HifiBuys Pty Ltd</h4>
</div>

</body>
</html>
