!!!
%html
  %head
    %meta{'http-equiv' => 'content-type', :content => 'text/html;charset=UTF-8'}
    = csrf_meta_tag
    = stylesheet_link_tag('reset')
    = stylesheet_link_tag('default')
    = stylesheet_link_tag('omnisocial')
    = stylesheet_link_tag('jquery-ui')
    = auto_discovery_link_tag(:rss, items_url(:format => 'rss'))
    = javascript_include_tag :defaults
    %title= "HifiBuys #{params[:q]}"

#header
  #logo
    %h1
      %a{:href => '/'}
        %span.blue Hifi
        %span.pink Buys
      %span
        %em Discover Compare Share

- unless controller.action_name == 'home'
  #search
    = form_for(@search) do |f|                                                                                                                       
      = f.autocomplete_field :name_contains, autocomplete_item_name_items_path
      = f.submit 'Search'

#nav
  %ul
    - if current_user
      %li= link_to("Sell Something", sell_path)
    - else
      %li= link_to('Sell Something', login_path)
    %li= link_to("Contact Us", contact_path)
    - if current_user
      %li.last
        = "You are logged in as #{current_user.name}"
        = link_to('Logout', logout_path)
    - else
      %li.last= link_to('Login or sign-up', login_path)

#flash
  = flash[:notice]

#content
  = yield
  = render('shared/ga') if Rails.env == 'production'
#footer
  %h3
    Follow us on twitter to
    %a{ :href => "http://twitter.com/twifibuys"}get the best hifi deals
    &copy; 2012 HifiBuys Pty Ltd
